@model Alaska.Models.User

@{
    ViewBag.Title = "Change Password";
    Layout = "~/Views/Shared/_CashLayout.cshtml";
}


<div class="all-title-box">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h2>PROFILE</h2>
                <ul class="breadcrumb">
                    <li class="breadcrumb-item"><a href="~/Home/Home">Home</a></li>
                    <li class="breadcrumb-item active">Change Password</li>
                </ul>
            </div>
        </div>
    </div>
</div>


<div class="row my-5">
    <div class="col-lg-11 col-sm-11">
        <form class="needs-validation" validate action="~/Home/UpdatePassword" id="form1" method="post">
            <div class="row">
                <div class="col-md-6 mb-3">

                    <input type="hidden" class="form-control" name="User_ID" value="@Model.User_ID" readonly>
                    <input type="hidden" class="form-control" name="First_Name" value="@Model.First_Name" readonly>
                    <input type="hidden" class="form-control" name="User_Role" value="@Model.User_Role" readonly>
                    <input type="hidden" class="form-control" name="Last_Name" value="@Model.Last_Name" readonly>
                    <input type="hidden" class="form-control" name="User_Email" value="@Model.User_Email" readonly>
                    <input type="hidden" class="form-control" name="User_Phone" value="@Model.User_Phone" readonly>

                </div>
                Password Must be 6 Digits at Least.<br />
                <div class="col-md-6 mb-3">
                    <label for="lastName">New Password </label>
                    @Html.PasswordFor(n => n.User_Password, new { @placeholder = "Password", @class = "form-control" })
                    @Html.ValidationMessageFor(n => n.User_Password, "", new { @class = "text-danger" })
                    <div class="invalid-feedback" id="error-nwl"> Password is Required. </div><br />
                </div>

            </div>

            <hr class="mb-1">
            <div class="col-12 d-flex shopping-box">
                <input type="submit" class="ml-auto btn hvr-hover" value="Change Password" />
            </div>
        </form>
    </div>
</div>
